blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
docopt==0.6.2
Flask==3.0.3
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
prompt_toolkit==3.0.47
pyflakes==3.2.0
Pygments==2.18.0
python-dotenv==1.0.1
pyvim==3.0.3
pyvmomi==8.0.3.0.1
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.0.4
